body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1316px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:740px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:740px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:1312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:740px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:740px;
  opacity:0.4;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:1312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:96px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:204px;
  width:1142px;
  height:96px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1138px;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:332px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:2px 2px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:2px 2px 5px rgba(83, 88, 128, 1);
  box-shadow:2px 2px 5px rgba(83, 88, 128, 1);
}
#u681 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:335px;
  width:443px;
  height:332px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:428px;
  width:307px;
  height:40px;
}
#u683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:54px;
  background:inherit;
  background-color:rgba(83, 88, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:335px;
  width:443px;
  height:54px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:413px;
  word-wrap:break-word;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:520px;
  width:307px;
  height:40px;
}
#u686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:389px;
  width:173px;
  height:42px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:478px;
  width:173px;
  height:42px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(83, 88, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:604px;
  width:140px;
  height:40px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:350px;
  width:24px;
  height:25px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:76px;
  background:inherit;
  background-color:rgba(66, 72, 116, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  -webkit-box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:50px;
  width:150px;
  height:76px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u698_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:76px;
  background:inherit;
  background-color:rgba(83, 88, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  -webkit-box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  box-shadow:1px 1px 1px rgba(161, 161, 161, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u698.mouseOver {
}
#u699 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:27px;
  width:132px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:73px;
  width:30px;
  height:30px;
}
#u700_img.mouseOver {
}
#u700.mouseOver {
}
#u700_img.mouseDown {
}
#u700.mouseDown {
}
#u700_img.selected {
}
#u700.selected {
}
#u701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:69px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:58px;
  width:46px;
  height:69px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:69px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:58px;
  width:46px;
  height:69px;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
}
#u707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:69px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:58px;
  width:46px;
  height:69px;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:69px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:58px;
  width:46px;
  height:69px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(39, 155, 90, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:63px;
  width:139px;
  height:47px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u716_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(66, 72, 116, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u716.mouseOver {
}
#u716_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u716.disabled {
}
#u717 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:71px;
  white-space:nowrap;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:82px;
  width:16px;
  height:10px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(39, 155, 90, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:64px;
  width:120px;
  height:47px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u720_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u720.mouseDown {
}
#u720_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u720.disabled {
}
#u721 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:80px;
  white-space:nowrap;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:111px;
  width:176px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u722_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u722_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:139px;
  background:inherit;
  background-color:rgba(100, 105, 141, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:139px;
  opacity:0.7;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:150px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:39px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:66px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:180px;
  height:1px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:106px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:20px;
  width:135px;
  height:135px;
  font-family:'Kartika Bold', 'Kartika Regular', 'Kartika';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u736_img.mouseDown {
}
#u736.mouseDown {
}
#u736_img.disabled {
}
#u736.disabled {
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:96px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:40px;
  width:86px;
  height:96px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(39, 155, 90, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:63px;
  width:139px;
  height:47px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u744_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(66, 72, 116, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u744.mouseOver {
}
#u744_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:47px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u744.disabled {
}
#u745 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:71px;
  white-space:nowrap;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:20px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:82px;
  width:16px;
  height:10px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(39, 155, 90, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:64px;
  width:120px;
  height:47px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u748_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(73, 77, 112, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u748.mouseOver {
}
#u748_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(83, 88, 128, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u748.mouseDown {
}
#u748_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  -webkit-box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  box-shadow:1px 1px 5px rgba(83, 88, 128, 1);
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u748.disabled {
}
#u749 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:80px;
  white-space:nowrap;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:135px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:20px;
  width:135px;
  height:135px;
  font-family:'Kartika Bold', 'Kartika Regular', 'Kartika';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u750_img.mouseDown {
}
#u750.mouseDown {
}
#u750_img.disabled {
}
#u750.disabled {
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:96px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:40px;
  width:86px;
  height:96px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:111px;
  width:176px;
  height:139px;
  overflow:hidden;
  visibility:hidden;
}
#u754_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u754_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:139px;
  background:inherit;
  background-color:rgba(100, 105, 141, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:139px;
  opacity:0.7;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:150px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:39px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:66px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:180px;
  height:1px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:106px;
  width:161px;
  height:17px;
  font-family:'Verdana Обычный', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
  text-align:left;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:88px;
  background:inherit;
  background-color:rgba(39, 155, 90, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:43px;
  width:174px;
  height:88px;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u769_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:88px;
  background:inherit;
  background-color:rgba(66, 72, 116, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u769.mouseOver {
}
#u769_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:88px;
  background:inherit;
  background-color:rgba(83, 88, 128, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u769.mouseDown {
}
#u769_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:88px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Полужирный', 'Verdana Обычный', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u769.disabled {
}
#u770 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:35px;
  width:134px;
  word-wrap:break-word;
}
