body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:248px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:505px;
  width:335px;
  height:248px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:243px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:860px;
  width:256px;
  height:243px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:198px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:802px;
  width:246px;
  height:198px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:158px;
  width:54px;
  height:54px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:127px;
  width:54px;
  height:54px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:231px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:526px;
  width:158px;
  height:231px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:231px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:526px;
  width:158px;
  height:231px;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
}
#u887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:231px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:526px;
  width:158px;
  height:231px;
  -webkit-transform:rotate(278deg);
  -moz-transform:rotate(278deg);
  -ms-transform:rotate(278deg);
  transform:rotate(278deg);
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:231px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:526px;
  width:158px;
  height:231px;
  -webkit-transform:rotate(351deg);
  -moz-transform:rotate(351deg);
  -ms-transform:rotate(351deg);
  transform:rotate(351deg);
}
#u891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:793px;
  width:191px;
  height:208px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:796px;
  width:191px;
  height:208px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:796px;
  width:191px;
  height:208px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:208px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:801px;
  width:191px;
  height:208px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:170px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:1066px;
  width:275px;
  height:170px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:198px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:806px;
  width:329px;
  height:198px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:198px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:505px;
  width:246px;
  height:198px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:91px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:218px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:768px;
  width:127px;
  height:218px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:218px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:773px;
  width:127px;
  height:218px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:231px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:89px;
  width:158px;
  height:231px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:316px;
  width:153px;
  height:57px;
  font-size:48px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
